.section-title {
  position: relative;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: 600;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 58%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 2px solid #444444;
  border-image: linear-gradient(to right, #2a2828 10%, transparent 80%) 90% 1;
  border-spacing: 10px;
}

.grid {
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;  
}

.max-w-md {
  width: 600px;

  @media (max-width: 768px) {
    width: 100%;
  }
}