.section-title {
  position: relative;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: 600;
  margin-bottom: 1rem;
}

.grid {
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;  
}

.max-w-md {
  width: 600px;

  @media (max-width: 768px) {
    width: 100%;
  }
}