# Ignore node_modules in root and all subdirectories
node_modules
**/node_modules

# Ignore build artifacts everywhere
.next
**/.next

# Ignore IDE/editor stuff
.vscode
.DS_Store
**/.vscode
**/.DS_Store

# Ignore all .env files in root and subfolders
.env*
**/.env*

**/secret.yaml
