.hero-section-main{
    background: white;
}

.herosection-text{
    margin: 0 auto;
    max-width: var(--max-content);
    padding: calc(var(--spacing) *2 ) ;
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


